@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    
}

form {
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}


a {
    padding-top: 20px;
    text-align: center;
    color: black;
    
    
}

.naocad {
    display: block;
    text-align: center;
    margin-top: 20px;
}


input {
    border: none;          
    border-bottom: 1px solid #ccc;
    outline: none;         
    background: transparent; 
    padding: 10px;
    border-radius: 8px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    color: black;
}


.input-group label {
    position: absolute;
    left: 5px;
    top: 10px;
    color: #777;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -10px;
    font-size: 12px;
    color: #333;
}

.btn-login {

  background-color: #F2505D;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.btn-login:hover {
    background-color: #ffffff;
    color: #F2505D;
    border: 1px solid #F2505D;
}

p {
    text-align: center;
}

#icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#icons img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
    box-sizing: border-box;
    
}

#icons img:hover {
    border: 2px solid rgba(255, 255, 255, 0.623);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    transition: transform 0.2s, border 0.1s;
}


#ramo {
    position: relative;
    right: -87px;
}