@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#btn1 {
  background-color: #F2505D;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  text-align: center;
}

#btn1:hover {
    background-color: #ffffff;
    color: #F2505D;
    border: 1px solid #F2505D;
}

#btn1:active {
  transform: scale(0.98);
}

#btn2 {
  background-color: #ffffff;
  color: #F2505D;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid #F2505D;
  text-decoration: none;
  text-align: center;
}

#btn2:hover {
  transform: scale(1.05);
  background-color: #F2505D;
  color: white;
  border: none;
}

#btn2:active {
  transform: scale(0.98);
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 25px;              
  width: 100%;
  max-width: 300px;
  margin: 30px;
}

section#login {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 15px;              
  margin: 30px
}

section#login > div#imagem {
    display: block;
    background:  #9FB877 url('../imagens/login.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

p,h1 {
    color: #203A40;
    text-align: center;
}




